.about-infiny {
  .about-bg {
    margin-top: -255px;
    width: 100vw;
    height: 100vh;
    @media screen and (max-width: $break-tablet) {
      // width: 120vw;
      max-width: 2000px;
      height: 70vh;
    }
    @media screen and (min-width: $break-md-large) {
      margin-top: -350px;
      height: 50vh;
    }
    @media screen and (min-width: $break-large) {
      margin-top: -350px;
    }
  }

  .about-heading {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(229, 59, 37);
    margin-top: -250px;
    @media screen and (max-width: $break-tablet) {
      margin-top: -200px;
      font-size: 1.5rem;
      margin-right: 40px;
      margin-left: 22px !important;
    }
    @media screen and (min-width: $break-md-large) {
      font-size: 2.5rem;
      margin-top: -110px;
    }
  }
  .infiny-container {
    position: relative;
    .infiny-iso {
      max-width: 280px;
      width: 100%;
      margin-top: 20px;
      position: absolute;
      top: -18px;
      left: 140px;
      @media screen and (max-width: $break-tablet) {
        display: none;
      }
      @media screen and (min-width: $break-md-large) {
        top: 70px;
        left: 80px;
      }
      @media screen and (min-width: $break-large) {
        top: 7px;
      }
    }
  }
  .about-content {
    margin-top: -145px;
    margin-right: 40px;
    padding: 40px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    @media screen and (max-width: $break-tablet) {
      margin-top: -130px;
      line-height: 30px;
    }
  }
}
