.about-infiny {
  .about-bg {
    margin-top: -195px;
    width: 100vw;
    max-height: 950px;
    height: 100%;
  }

  .about-heading {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(229, 59, 37);
    margin-top: -250px;
  }
  .infiny-container {
    position: relative;
    .infiny-iso {
      max-width: 280px;
      width: 100%;
      margin-top: 20px;
      position: absolute;
      top: -18px;
      left: 140px;
    }
  }
  .about-content {
    margin-top: -145px;
    margin-right: 40px;
    padding: 40px;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
  }
}
