.about-infiny {
  .about-bg {
    width: 100vw;
    max-height: 100vh;
    @media screen and (min-width: $break-tablet) {      
      height: 60%;
      margin-top: -20vh;
    }
    @media screen and (min-width: $break-md-large) {
      height: 50%;
      margin-top: -48vh;
    }
    @media screen and (min-width: $break-large) {
      height: 100%;
      margin-top: -335px;
    }
  }

  .about-heading {
    font-weight: 700;
    font-size: 1.8rem;
    color: rgb(229, 59, 37);
    margin-top: -150px;
    padding-bottom: 45%;
    text-align: center;
    @media (min-width: $break-sm-mobile) {
      padding-bottom: 30%;
    }
    @media (min-width: $break-mobile) {
      font-size: 2.8rem;
    }
    @media (min-width: $break-tablet) {
      padding-bottom: 25%;
    }
    @media (min-width: $break-md-large) {
      text-align: start;
      margin-left: 3rem;
    }
    @media (min-width: $break-large) {
      margin-top: -250px;
    }
  }
  .infiny-container {
    .infiny-iso {
      width: 260px;
      position: relative;
      display: none;
      @media screen and (min-width: $break-md-large) {
        display: initial;
        top: 4vh;
      }
    }
  }
  .about-content {
    margin-top: -145px;
    padding: 40px;
    line-height: 25px;
    font-size: 1rem;
    text-align: justify;
    @media screen and (max-width: $break-tablet) {
      margin-top: -130px;
      line-height: 30px;
    }
  }
}
