.infiny-faqs {
  .infiny-faqs-title {
    padding: 70px;
    background-color: rgb(229, 59, 37);
    width: 50%;
    margin-top: -100px;
    margin-left: -50px;
    .infiny-faqs-heading {
      color: rgb(255, 217, 182);
      font-weight: 600;
      text-align: center;
      font-size: 45px;
    }
  }
  .faqs-wrapper {
    margin-left: 130px;
  }
  .infiny-faq-container {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    .infiny-icon {
      position: absolute;
      top: 25px;
      left: -80px;
      font-size: 50px;
      color: rgb(229, 59, 37);
    }
    .infiny-faq-question {
      font-size: 15px;
      font-weight: 800;
      line-height: 25px;
      padding-top: 20px;

      color: rgb(31, 29, 58);
    }
    .infiny-faq-answer {
      color: rgb(105, 105, 105);
      margin-top: 40px;
      font-size: 14px;
      letter-spacing: 0.3px;
      line-height: 25px;
    }
  }
  .faqs-ask {
    padding-top: 50px;
    padding-bottom: 150px;
    .faqs-btn {
      background-color: rgb(247, 148, 29);
      border-radius: 0;
      margin-bottom: 20px;
      border-bottom: 3px solid rgb(229, 59, 37);
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
