.infiny-faqs {
  @media(min-width: $break-md-large) {
    .container {
      margin-right: 3rem;
    }
  }
  .infiny-faqs-title {
    padding: 50px;
    background-color: rgb(229, 59, 37);
    .infiny-faqs-heading {
      color: rgb(255, 244, 234);
      font-weight: 600;
      text-align: center;
      font-size: 2rem;
      @media (min-width: $break-md-large) {
        font-size: 3rem;
        text-align: start;
      }
    }

    @media (min-width: $break-md-large) {
      margin-top: -10vh;
    }
  }
  .faqs-wrapper {
    .infiny-faq-container {
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center;
      position: relative;
      .infiny-icon {
        font-size: 50px;
        color: rgb(229, 59, 37);
        @media (min-width: $break-md-large) {
          position: relative;
          right: 5vw;
          top: 7vh;
        }
      }
      .infiny-faq-question {
        font-size: 15px;
        padding: 5%;
        font-weight: 800;
        line-height: 25px;
        color: rgb(31, 29, 58);
        @media (min-width: $break-md-large) {
          padding: 0;
        }
      }
      .infiny-faq-answer {
        color: rgb(105, 105, 105);
        margin-top: 10px;
        font-size: .8rem;
        letter-spacing: 0.3px;
        line-height: 25px;
        @media (min-width: $break-md-large) {
          margin-top: 2vw;
        }
      }
      @media (min-width: $break-md-large) {
        text-align: justify;
      }
    }
  }
  
  .faqs-ask {
    padding: 5% 0 5% 0;
  }
  .faqs-btn {
    background: rgb(247, 148, 29);
    border-radius: 0;
    border-bottom: 3px solid rgb(229, 59, 37);
    padding: .5rem 1.5rem .5rem 1.5rem;
    font-size: 1.1rem;
    color: rgb(255, 244, 234);
  }
}
