.infiny-footer {
  background-color: $primary;
  padding: 30px;

  .footer-title {
    color: $links;
    font-size: 18px;
    text-align: center;
  }
  .footer-links {
    font-size: 1.2rem;
    text-decoration: none;
    color: $links;
  }
  .social-media {
    margin: .8rem auto;
    text-align: center;
    @media (min-width: $break-md-large){
      text-align: left;
    }
  }

    
    .form {
      text-align: center;
      color: rgb(255, 244, 234);
    }
    form .form-group {
      .form-control {
        width: 90%;
        margin-left: 20px;
        background: rgba(139, 126, 126, 0.3);
        border: 0;
        &::placeholder {
          color: white;
          padding-left: 20px;
        }
      }
      small {
        font-size: 12px;
        margin-left: 20px;
        color: rgb(255, 244, 234);
      }
    }
  }

  .footer-text {
    p {
      font-size: 11px;
      color: white;
      .impulsa-link {
        color: $links;
      }
    }
    hr {
      color: white;
    }
  }
  hr {
    color: #fff;
  }
