.infiny-footer {
  background-color: rgb(247, 148, 29);
  padding: 30px;
  .social-media {
    font-size: 18px;
    padding-left: 40px;
    a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease-in;
      &:hover {
        color: rgb(76, 148, 241);
      }
    }
    .facebook {
      margin-left: 80px;
    }
  }
  .contact {
    .contact-title {
      font-size: 18px;
      margin-left: 25px;
    }
    .contact-phone {
      font-size: 20px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: color 0.3s ease-in;
      &:hover {
        color: rgb(76, 148, 241);
      }
    }
  }

  .form {
    text-align: center;
  }
  form .form-group {
    .form-control {
      width: 90%;
      margin-left: 20px;
      background: rgba(139, 126, 126, 0.3);
      border: 0;
      &::placeholder {
        color: white;
        padding-left: 20px;
      }
    }
    small {
      font-size: 12px;
      margin-left: 20px;
    }
  }

  .footer-text {
    p {
      font-size: 14px;
      color: white;
      .impulsa-link {
        color: rgb(255, 255, 255);
        transition: color 0.3s ease-in;
        &:hover {
          color: rgb(76, 148, 241);
        }
      }
    }
    hr {
      color: white;
    }
  }
  hr {
    color: #fff;
  }
}
