.infiny-footer {
  background-color: rgb(247, 148, 29);
  padding: 30px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media screen and (max-width: $break-tablet) {
      flex-direction: column;
      align-items: center;
    }
    .social-media {
      font-size: 20px;
      padding-left: 40px;
      a {
        color: #fff;
        text-decoration: none;
      }
      .facebook {
        margin-left: 80px;
        @media screen and (max-width: $break-tablet) {
          margin-left: 20px;
        }
      }
      @media screen and (max-width: $break-tablet) {
        padding-left: 0;
      }
    }

    .contact {
      .contact-title {
        font-size: 18px;
        margin-left: 25px;
        color: rgb(255, 244, 234);
      }
      .contact-phone {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
      @media screen and (max-width: $break-tablet) {
        order: 1;
      }
    }

    .form {
      text-align: center;
      color: rgb(255, 244, 234);
    }
    form .form-group {
      .form-control {
        width: 90%;
        margin-left: 20px;
        background: rgba(139, 126, 126, 0.3);
        border: 0;
        &::placeholder {
          color: white;
          padding-left: 20px;
        }
      }
      small {
        font-size: 12px;
        margin-left: 20px;
        color: rgb(255, 244, 234);
      }
    }
  }

  .footer-text {
    p {
      font-size: 11px;
      color: white;
      .impulsa-link {
        color: rgb(255, 255, 255);
      }
    }
    hr {
      color: white;
    }
  }
  hr {
    color: #fff;
  }
}
