// GLOBAL

html {
  scroll-behavior: smooth;
}

body {
  
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #696969;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration-line: none !important;
}

.rwd-break {
  @media screen and (min-width: 769px) {
    display: none;
  }
}
