.brand-centered {
  padding: 50px;
  .navbar-brand {
    font-size: 34px;
  }
}

.menu-toggler {
  background: #f7941d;
  padding: 15px;
  .hamburger {
    font-size: 18px;
  }
}

.navigation .menu-container {
  padding: 10px;
  .nav-item {
    list-style: none;
  }
}
