.infiny-join {
  background-color: rgb(241, 241, 241);
  .join-heading {
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 45px;
    position: relative;
    color: rgb(247, 148, 29);
  }
  .join-quote {
    font-size: 15px;
    margin-bottom: 5%;
  }
  #infinyCarousel {
    .carousel-inner {
      .carousel-item {
        max-height: 800px;
        height: 100%;
        width: 100%;
        .infiny-item {
          max-height: 800px;
          height: 100%;
        }
      }
    }
    .carousel-control-prev {
      font-size: 60px;
      color: #d4d3d3;
      opacity: 0.7;
    }
    .carousel-control-next {
      font-size: 60px;
      color: #d4d3d3;
      opacity: 0.7;
    }
  }
}
