.infiny-map {
  .infiny-map-title {
    background-color: rgb(247, 148, 29);
    width: 100%;
    padding: 4%;
    position: relative;
    .infiny-map-heading {
      color: rgb(255, 244, 234);
      font-weight: 600;
      font-size: 2rem;
      @media screen and (min-width: $break-tablet) {
        font-size: 3rem;
      }
    }
    .infiny-map-subheading {
      font-size: .85rem;
      padding: .5rem 1rem 0 1rem;
      font-weight: 300;
      color: rgb(247, 226, 206);
      line-height: 30px;
      @media (min-width: $break-tablet) {
        font-size: 1rem;
      }
    }
    @media (min-width: $break-md-large) {
      width: 45%;
      margin-bottom: -15vh;
      z-index: 30;
      padding: 2%;
    }
  }
  .mapouter {
    position: relative;
    text-align: center;
    height: 500px;
    width: 100%;
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 500px;
      width: 100%;
      #gmap_canvas {
        max-width: 100%;
        width: 1365px;
        margin: 0 auto;
        height: 500px;
        @media screen and (max-width: $break-tablet) {
          width: 770px;
        }
        @media screen and (min-width: $break-large) {
          width: 1600px;
        }
      }
    }
  }
}
