.infiny-map {
  .infiny-map-title {
    padding: 40px;
    background-color: rgb(247, 148, 29);
    width: 40%;
    margin: -120px -65px;
    left: 470px;
    position: absolute;
    z-index: 30;
    .infiny-map-heading {
      color: rgb(255, 244, 234);
      font-weight: 600;
      font-size: 45px;
      @media screen and (max-width: $break-tablet) {
        font-size: 40px;
      }
      @media screen and (min-width: $break-md-large) {
        font-size: 30px;
      }
    }
    .infiny-map-subheading {
      font-size: 15px;
      font-weight: 300;
      padding-top: 10px;
      color: rgb(247, 226, 206);
      line-height: 30px;
      @media screen and (max-width: $break-tablet) {
        font-size: 18px;
      }
      @media screen and (min-width: $break-md-large) {
        font-size: 12px;
        line-height: 22px;
      }
    }
    @media screen and (max-width: $break-tablet) {
      margin-top: -220px;
      width: 100%;
      left: 0;
    }
    @media screen and (min-width: $break-md-large) {
      margin: -50px -155px;
      padding: 5px;
    }
    @media screen and (min-width: $break-large) {
      margin: -120px -45px;
    }
  }
  .mapouter {
    position: relative;
    text-align: center;
    height: 500px;
    width: 100%;
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 500px;
      width: 100%;
      #gmap_canvas {
        max-width: 100%;
        width: 1365px;
        margin: 0 auto;
        height: 500px;
        @media screen and (max-width: $break-tablet) {
          width: 770px;
        }
        @media screen and (min-width: $break-large) {
          width: 1600px;
        }
      }
    }
    @media screen and (max-width: $break-tablet) {
      margin-top: 200px;
    }
  }
}
