.infiny-map {
  .infiny-map-title {
    padding: 40px;
    background-color: rgb(247, 148, 29);
    width: 40%;
    margin-top: -130px;
    left: 470px;
    position: absolute;
    z-index: 30;
    .infiny-map-heading {
      color: rgb(255, 217, 182);
      font-weight: 600;
      font-size: 45px;
    }
    .infiny-map-subheading {
      font-size: 15px;
      font-weight: 300;
      padding-top: 10px;
      color: rgb(255, 217, 182);
      line-height: 30px;
    }
  }
  .mapouter {
    position: relative;
    text-align: center;
    height: 500px;
    width: 100%;
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      height: 500px;
      width: 100%;
    }
  }
}
