.infiny-program {
  background-color: rgb(241, 241, 241);
  .program-heading {
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 45px;
    color: rgb(247, 148, 29);
    @media screen and (max-width: $break-tablet) {
      font-size: 2rem;
      line-height: 55px;
    }
  }

  .program-reel {
    .infiny-btn {
      background-color: rgb(247, 148, 29);
      border-radius: 0;
      margin-bottom: 20px;
      border-bottom: 3px solid rgb(229, 59, 37);
      padding-left: 50px;
      padding-right: 50px;
      color: rgb(255, 244, 234);
    }
  }
}
