.intro-container {
  padding: 50px;
  background: $primary;
  height: 300px;
  width: 55%;
  margin-bottom: 50px;
  position: relative;
  .intro-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 120px;
    margin-top: 20px;
    font-size: 1.64rem;
    padding-right: 20px;
    color: $heading-fonts;
  }
  .infiny-pattern {
    position: absolute;
    width: 15%;
    height: auto;
    top: 5px;
    left: 0;
  }
  .infiny-comilla {
    position: absolute;
    width: 12%;
    height: auto;
    left: 60px;
    top: 60px;
  }
}
