.intro-container {
  background: $primary;
  padding: 20px;
  position: relative;
  margin-bottom: 0;
  @media (min-width: $break-tablet) { 
    margin-bottom: 9%;
    padding: 4%;
  }
  @media (min-width: $break-md-large) {
    margin-bottom: 17.5%;
    padding: 6%;
  }
  @media (min-width: $break-large) {
    margin-bottom: 16%;
  }
  .intro-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 0 1rem 0 1rem;
    // margin-top: 25px;
    font-size: 1.1rem;
    color: $heading-fonts;
    @media (min-width: $break-mobile) {
      font-size: 1rem;
      padding: 0 3rem 0 3rem;
    }
    @media (min-width: $break-md-large) {
      font-size: 1.3rem;
      padding: 0 4rem 0 4rem;
      text-align: start;
      margin-left: 8%;
    }
    @media (min-width: $break-large) {
      font-size: 1.4rem;
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  .infiny-pattern {
    @media (max-width: $break-md-large) {
      display: none;
    }
    @media (min-width: $break-md-large) {
      position: absolute;
      width: 16%;
      top: 6%;
      left: 4%;
      height: auto;
    }
    @media (min-width: $break-large) {
      left: 15px;
      top: 20px;
      width: 10%;
    }
  }
}
