// Variables file

// Display breakpoints

$break-large: 1366px;
$break-tablet: 768px;
$break-mobile: 480px;
$break-sm-mobile: 360px;

// Colors

$primary: rgb(247, 148, 29);
$secondary: rgb(224, 68, 3);
$fonts-hover: rgb(229, 59, 37);
$heading-fonts: rgb(255, 217, 182);
$fonts: rgb(105, 105, 105);
$bracket: rgb(224, 226, 227);
